.practitioner {
  cursor: pointer;
  width: fit-content;
  border-bottom: 1px solid transparent;
}

.practitioner:hover {
  border-bottom: 1px solid rgba(33, 53, 71, 0.6);
}

.selected {
  border-bottom: 1px solid rgba(33, 53, 71, 0.6);
}
